"*":
  "exception-reporting":
    userId: "4a0f7ed9-4f94-f2c2-c679-ff2ae446049c"
  welcome:
    showOnStartup: false
  metrics:
    userId: "e9639348adbbf25153e60f3e6cdd35bbac9acded"
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    fontFamily: "Menlo"
    showIndentGuide: true
    tabLength: 2
    invisibles:
      {}
    preferredLineLength: 100
    showInvisibles: true
    fontSize: 14
  whitespace:
    ensureSingleTrailingNewline: true
    ignoreWhitespaceOnCurrentLine: false
  core:
    disabledPackages: [
      "language-blade"
      "atom-jshint"
      "atom-lint"
      "csslint"
      "linter-jshint"
      "linter-tidy"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    useReactEditor: true
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "tree-view":
    hideIgnoredNames: false
    hideVcsIgnoredFiles: false
  "autoclose-html":
    {}
  linter:
    lintDebug: true
    statusBar: "Show error of the selected line"
    showErrorInline: false
  "linter-jshint":
    {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "vim-mode":
    startInInsertMode: true
    useSmartcaseForSearch: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  minimap:
    {}
  "atom-pair":
    {}
  ternjs:
    {}
  "code-links":
    {}
  "atom-beautify":
    _analyticsUserId: "9248b31f-f709-40a3-bf2f-584776d6b5e4"
  "one-dark-ui":
    {}
  "atom-ternjs":
    {}
